.landing-page-container {
  position: relative;
  width: 100%;
  min-height: auto;
  background-color: rgb(0, 0, 0);
  z-index: 5;
}

.landing-page-img {
  width: 100%;
  position: relative;
  z-index: -5;
  display: block;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
  font-size: 1.8vw;
  height: 50%;
  width: 70%;
  padding: 100px 15px 0 30px;
  z-index: 5;
  color: #3e3e42;
}

.landing-page-h1 {
  font-size: 45px;
  font-family: 'Quicksand', sans-serif;
}

.landing-page-h2 {
  font-style: italic;
  font-size: 42px;
  margin: 30px 0 0 0;
}

.landing-page-footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #f5f7f6;
  color: #3a3b3a;
}

.landing-page-footer__top,
.landing-page-footer__bottom {
  display: flex;
  justify-content: center;
  background-color: #f5f7f6;
  font-size: 25px;
  padding: 10px;
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;
}
