.recycling-tips-container {
  width: 90%;
  margin: 40px;
  color: #3a3b3a;
}

.what-to-recycle,
.tips-for-recycling {
  color: #6aa730;
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.what-to-recycle-styling {
  display: flex;
  flex-direction: row;
}

.recycle-item-styling {
  display: flex;
  flex-direction: column;
}

.recycle-item {
  font-style: italic;
  font-weight: bolder;
  margin-top: 8px;
  margin-bottom: 8px;
}

.recycle-facts {
  width: 90%;
  margin-bottom: 15px;
}

.recycle-tip {
  margin: 8px;
}
