.search-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 40px;
  background-color: #efefef;
}

.search-bar__input-container {
  display: flex;
  flex-direction: column;
}

.search-bar__input-container--zip {
  width: 22%;
}

.search-bar__input-container--materials {
  width: 39%;
}

.search-bar__input,
.search-bar__button {
  padding: 5px;
  width: 100%;
}

.search-bar__button {
  width: 22%;
  background-color: #6aa730;
  color: #ffffff;
  border-radius: 2px;
}

.error-message {
  color: red;
  font-size: 12px;
}
