.search-bar {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #EFEFEF;
}

.search-bar__input {
  padding: 5px;
  margin: 0px 15px;
}

.search-bar__input--zip {
  width: 22%;
}

.search-bar__input--materials {
  width: 39%;
}

.search-bar__button {
  width: 22%;
  background-color: #00A262;
  color: #FFFFFF;
  border-radius: 2px;
}
