.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

.nav-icon-and-h1 {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-h1 {
  color: #6aa730;
  font-size: 50px;
  font-family: 'Bakbak One', sans-serif;
}

.recycle-icon {
  height: 70px;
  width: 70px;
  margin: 20px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-right: 20px;
}

.nav-link-1,
.nav-link-2,
.nav-link-3 {
  margin: 20px;
  color: #42cbf5;
}
