.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

.nav-icon-and-h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

.nav-h1 {
  color: #237018;
  font-size: 3.5vw;
}

.recycle-icon {
  height: 70px;
  width: 70px;
  margin: 20px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  font-size: 1.5vw;
  color: #42cbf5;
}

.nav-search, .nav-test, .nav-creators {
  margin: 20px;
}
